<h1>End-User Profile</h1>
<ul>
    <li><strong>Token:</strong> {{accessToken}}</li>
    
    
</ul>
<p>
    You can also use a tool like
    <a href="https://jwt.io/#debugger-io?token={{accessToken}}">https://jwt.io</a>
    to see the full content of the id token.
</p>
<p>
    To see your to-do list, <a href="/to-dos">go here</a>.
</p>
<p>
    To Logout, Click <a href="{{logoutUrl}}">Logout</a>.
</p>